html, body {
  background-color: #141414;
}

#date {
  font-size: 300%;
  top: 65%;
}

#time {
  font-size: 1000%;
  top: 45%;
}

#time, #date {
  font-family: 'Merriweather', serif;
  color: rgb(255, 255, 255);
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}